html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 40px;
  overflow: hidden;
  box-sizing: border-box;
}

.navbar .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .container {
  width: 100%;
  min-width: 960px;
}

.itemCount {
  width: 90px;
  text-align: center;
}

section.mainContent {
  /* Exercise 6.4a */
}

/* Exercise 6.4b */


/* Exercise 6.4c */
