html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 40px;
  overflow: hidden;
  box-sizing: border-box;
}

.navbar .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .container {
  width: 100%;
}

.itemCount {
  width: 90px;
  text-align: center;
}

section.mainContent {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0px;
}

section.mainContent div {
  height: 100%;
}

.controls {
  box-sizing: border-box;
  padding: 5px;
  width: 50px;
  background-color: black;
  margin: 0;
  height: 100%;

  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(bottom, #333333, #222222);
  background-image: -ms-linear-gradient(bottom, #333333, #222222);
  background-image: -webkit-gradient(linear, 100% 100%, 0 0, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(bottom, #333333, #222222);
  background-image: -o-linear-gradient(bottom, #333333, #222222);
  background-image: linear-gradient(bottom, #333333, #222222);
  background-repeat: repeat-x;
}

.controls .btn {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}


.tControls {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.controls div.top {
  min-height: 50px;
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-flex: 1;
}

.controls div.middle {
  min-height: 185px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-flex: 2;
}

.controls div.bottom {
  min-height: 50px;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-align: end;
}

.summaries {
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
  width: 300px;
  -webkit-overflow-scrolling: touch;
}

.summary {
  color: #222;
  box-shadow: 5px 5px 5px rgba(210, 210, 210, 0.6);
}

.summary.read {
  opacity: 0.6;
}

.summary.active {
  background-color: #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.05);
  opacity: 1.0;
}

.summary .icon {}
.summary .pub-name {
  font-size: 0.9em;
}
.summary .pub-date {
  font-size: 0.9em;
  text-align: right;
}
.summary .title {}
.summary .description {}

.entries {
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  overflow-y: scroll;
  padding-left: 10px;
  -webkit-overflow-scrolling: touch;
}

.entry {
  -webkit-transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 5px rgba(210, 210, 210, 0.6);
}

.entry.read {
}

.entry.active {
  border: 0px solid #222;
}

.entry .pub-date {
  font-size: 0.9em;
}
.entry .actions {
  text-align: right;
}
.entry .title {}
.entry .author {}
.entry .pub-name {}
.entry hr {}
.entry .post-content {}

.entry .post-content img {
  margin: 5px;
}

.nothingSelected {
  text-align: center;
}

.icon-refresh.spin {

}
